* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1d1d1d;
    --brown: #3b2804;
    --pink: #f2726a;
}

body {
    background: linear-gradient(45deg, #42c492, #186568);
    height: 100vh;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.card {
    width: 300px;
    height: 400px;
    background: #242628;
    margin: 8rem auto;
    border-radius: 15px;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--pink);
    overflow: hidden;
    margin: 25px auto 10px auto;
}

.card p {
    color: var(--pink);
}

.card .social {
    display: flex;
}
.card .social a {
    
}